<div class="container">
    <div *ngFor="let transaction of transactions" class="card">
      <h3>{{ transaction.transactionType }}</h3>
      <div class="transaction-controls">
        <label>
            <input type="checkbox" [(ngModel)]="transaction.transactionSettings.enabled" [disabled]="!transaction.isEditing"/>
            Enabled
          </label>
        <div class="input-group">
          <label>Minimum: </label>
          <input type="text" [value]="formatCurrency(transaction.transactionSettings.minimum)" 
                 (input)="onMinimumChange(transaction, $event)" 
                 [disabled]="!transaction.isEditing"/>
        </div>
        <div class="input-group">
        </div>
        <div class="input-group">
          <label>Indicator:</label>
          <select [(ngModel)]="transaction.transactionSettings.indicator" [disabled]="!transaction.isEditing">
            <option *ngFor="let option of indicatorOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
        <button (click)="editTransaction(transaction)" *ngIf="!transaction.isEditing">Edit</button>
        <button (click)="saveTransaction(transaction)" *ngIf="transaction.isEditing">Save</button>
      </div>
    </div>
    <div class="json-output">
        <h4>Model Output</h4>
        <pre>{{ savedTransactions | json }}</pre>
      </div>
  </div>
  